/* All Selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Parent DIV */
#parent{
    width: 100dvw;
    height: 100dvh;
    background-color: red;
    border: 10px solid white;
    display: flex;
    position: relative;
}

/* Swap Between Files & Folders */
#chooser{
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0,1);
    color: rgb(121, 0, 185);
    height: 100%;
    width: 13dvw;
    display : flex;
    flex-direction: column;
}

/* Files & Folder Buttons */
#chooser > p{
    margin-top: 2.5dvh;
    padding-left: 2dvw;
    cursor: pointer;
}

/* Hovering For Files & Folder */
#chooser > p:hover{
    box-shadow: 2px 5px 10px  inset rgb(121, 0, 185);
    color: rgb(197, 143, 228);
}

/* Left Container */
#l_cont{
    flex: 40%;
    background-color: rgba(0, 0, 0,1);
    display: flex;
    flex-direction: column;
    cursor: default;
}

/* Note Maker */
#presenter{
    flex: 15%;
    font-size: 2rem;
    display: flex;
    padding-left: 1.5dvw;
    position: relative;
    color: rgb(51, 39, 228,0.8);
}

/* Swapper Displayer */
#hamburger{
    margin-right: 1.5dvw;
}

/* Note Creation Pen */
#note_maker{
    position: absolute;
    right: 1.5dvw;
    transform: rotate(90deg);
}

/* Notes List */
#displayer{
    flex: 85%;
    overflow-y : auto;
}

/* Textbox Scrollbar */
#displayer::-webkit-scrollbar{
    width: 5px;
}

/* Textbox Scrollbar-Track */
#displayer::-webkit-scrollbar-track{
    /* fill: green; */
    background-color: black;
    border-radius: 50px;
    padding: 5px;
}

/* Textbox Scrollbar-Thumb */
#displayer::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: 50px;
    border: 1px solid black;
}

/* Right Container */
#r_cont{
    flex: 60%;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
}

/* Input DIV CSS */
.inp_mod{
    flex: 20%;
    margin: 1rem;
    border: 3px solid pink;
    position: relative;
}

/* Input Field */
.inp{
    width: 100%;
    height: 100%;
    background-color: rgb(121, 0, 185,0.7);
    font-size: 2rem;
    padding-left: 1dvw;
}

/* Textbox DIV CSS */
.text_mod{
    flex: 80%;
    margin: 5px;
    outline: 5px solid black;
}

/* Textbox CSS */
.text{
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    color: azure;
    margin: 3px;
    resize: none;
    font-size: 1.5rem;
    padding: 0.4rem;
}

/* Textbox Scrollbar */
.text::-webkit-scrollbar{
    width: 5px;
}

/* Textbox Scrollbar-Track */
.text::-webkit-scrollbar-track{
    /* fill: green; */
    background-color: black;
    border-radius: 50px;
}

/* Textbox Scrollbar-Thumb */
.text::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 50px;

}

/* Note Creation Pen */
#note_creator{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 3.5dvw;
    bottom: 0.2dvh;
    font-size: 0.7rem;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

/* Horizontal Block In Creation Pen */
hr{
    /* color: black; */
    border: 1px solid black;
}

/* File & Folder Making Buttons */
#file_maker, #folder_maker{
    /* border: 1px solid black; */
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    /* border-radius: 10px; */
}

/* File Making Button */
#file_maker{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Folder Making Button */
#folder_maker{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Hovering For File & Folder Creation */
#file_maker:hover, #folder_maker:hover{
    box-shadow: 2px 4px 5px rgb(7, 3, 240);
}

/* Note Name Display */
.note{
    padding: 5px;
    padding-left: 3dvw;
    font-size: 1.3rem;
    position: relative;
    color: rgb(3, 0, 173);
    font-weight: 900;
    cursor: pointer;
}

/* Note Name Hovering */
.note:hover{
    color: rgb(228, 0, 125);
    box-shadow: 2px 5px 10px rgb(7, 3, 240);
}

/* Dustbin Icon */
.dustbin{
    position: absolute;
    right: 2.5dvw;
    font-weight: 400;
    color: red;
}

/* Dustbin Hovering */
.dustbin:hover{
    border-radius: 50%;
    text-shadow: 0px 0px red;
}

/* Saving Button */
#saver{
    position: absolute;
    right: 1.6dvw;
    top: 3.5dvh;
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

#add{
    font-size: 2.5rem;
    font-weight: 700;
    border: 1px solid red;
}

#text_fol{
    border: 1px solid white;
}